.contents
  .contents_hedder
    .contents_hedder_left
      .contents_hedder_name 
        = @group.name
      .contents_hedder_messege 
        Menber : 
        - @group.users.each do |user|
          = user.name
    
    = link_to edit_group_path(@group.id) do
      .contents_hedder_right Edit
  .contents_main
    .contents_main_message_text
      = render @messages
   
    
  .contents_fotter
    .contents_fotter_box
      = form_for [@group, @message] do |f|
        .contents_fotter_box_image
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        %label{class: "image_choice"} 
          = icon('fas', 'image')
          = f.file_field :image, class: 'image'
        =  f.submit 'Send', class: 'input-send'
        