.side_bar
  .side_header
    .side_header_box
      %p.side_header_box_user_name       
        = current_user.name
      %ul.side_header_box_menu
        %li.side_header_box_menu_new_group
          = link_to new_group_path do
            %i.fa.fa-edit
        %i.side_header_box_menu_edit
          = link_to edit_user_path(current_user) do
            %li.fas.fa-cog
    
  .side_contents
    - current_user.groups.each do |group|
      .side_contents_groups
        = link_to group_messages_path(group) do
          .side_contents_groups_title 
            = group.name
          .side_contents_groups_message 
            メッセージはありません
